- var truncateText = function(text){  
-   if(text.length > 160){
-     return text.substring(0, 160)+'...';
-   }else{
-     return text;
-   }
- }
- var getRandomClass = function(){  
-   var number = Math.floor( Math.random() * 10 );
-   if(number > 7){
-     return 'grid-item grid-item-featured';
-   }else{
-     return 'grid-item';
-   }
- }
div(class=getRandomClass())
  .grid-item-container
    span.icon-container.pull-right
      i(class=icon)
    a(href=link, taget='blank')
      p #{truncateText(text)}
    if img
      img.img-responsive(src=img)
    .media-controls
      span.like-container #{likes}
        i.fa.fa-heart-o